[Desktop Entry]
Name=csboard
Comment=Chess
Comment[pl]=Szachy
Exec=csboard
Icon=csboard
Terminal=false
Type=Application
Categories=Game;BoardGame;
# vi: encoding=utf-8
